<section class="about">
  <aside class="col-md-8">
    <p>
      I am really good at estimating how long will a project take (I have no idea how I have that ability).
    </p>
      I suffer from the developer syndrome where I don’t notice the passage of time (“I will be there in 20 min”, but show up after 3 hours).
    <p>
      I dream about code, it started with HTML elements and now it is somewhere in recursive functions.
      My boyfriend calls my computer  “my other boyfriend”, and he might be right.
    </p>
    <p>
      Before I was a developer, I spent 3 years working as a Stage Manager at the Israeli Opera House, where I learned that there is no problem that can not be solved with gaffers-tape.
    </p>
    <p>
    At the age of 28 I made a life changing decision to join a all-women-surf-club in Tel- Aviv. My favorite surf spot is along the Mexican Pacific coast. When I am not near the ocean I trade surfing waves for climbing  hills on my road bike.
    </p>
    <p>
    Great phoro, bad crash.
    </p>
  </aside>
  <article class="col-md-4">
    <h4>Skills:</h4>
    <ul>
      <li>JavaScript</li>
      <li>AngularJS</li>
      <li>Node.js</li>
      <li>PostgreSQL</li>
      <li>jQuery</li>
      <li>CSS/SCSS</li>
    </ul>
  </article>
  <img src="http://i.imgur.com/0wWbClb.jpg" alt="surfing" class="col-md-12 col-xs-12 ">
  <img src="http://i.imgur.com/ZvE0rXs.jpg" alt="me" class="col-md-12 col-xs-12 ">

</section>
