<section class="about col-md-12">
  <aside class="col-md-8">
    <!-- <h4>Bud is a creator, risk taker and planner.</h4> -->
    <p>
      I have devoted most of the past fifteen years to my pursuit of classical music, earning a degree in voice, flute and piano from Mannes School of Music (now part of the New School—NYC). I love composing and performing, eating chickpeas, and paying rent in full (which wasn’t happening on a musician's salary in the Middle East).
    </p>

    <p>
      I spent a few years managing prima donnas at the opera house and junkies at a cafe, but I knew there had to be a better path for me...
      Growing up in the Start-Up Nation that is Israel, I knew that all the “5 Shekel tippers” at the trendy cafe I managed were startupistas and several were also ex-professional musicians. That could be me, I thought.
    </p>
    <p>
      Within days of this realization that there was indeed a better path for me and that I could be a startupista, I was staying up late on treehouse.com teaching myself CSS and HTML—falling in love with new languages, dreaming in code and on my way to the Galvanize Immersive Web Development program. Now I have a fancy piece of paper that says “Full Stack Baby!”.
    </p>
    <p>
      I may be tiny, but I am brave. Though I have plenty of fears, I am willing to take big risks, whether that means surfing the treacherous breaks of the Mexican Pipeline, hiking for weeks with a pack bigger than me or moving solo to a new country where people speak a funny language.
    </p>
    <p>
      I am excited to use my full-stack skills to work with wickedly talented people who have a sense of humor and are looking to nurture emerging developers.
    </p>

    <p>
      That’s me
    </p>

  </aside>
    <div class="col-md-4 contact">
      <h4>Contact me:</h4>
      <a href="mailto:budaminof@gmail.com">
        budaminof@gmail.com
      </a>
       <!-- <br> -->
      <!-- <a class="phone">347-703-4121</a> -->
      <br>
      <a href="https://github.com/budaminof" target="_blank">
        GitHub
      </a>
      <br>
      <a href="https://www.linkedin.com/in/budaminof" target="_blank">
        LinkedIn
      </a>
      <br>
    </div>

  <div class="images">
    <img ng-src="images/surfing.JPG"
      when-visible="vm.animateElementIn"
      when-not-visible="vm.animateElementOut"
      alt="surfing"
      class="col-md-12 col-xs-12 img-responsive not-visible" id="crash">
    <img ng-src="images/flute.jpg"
      when-visible="vm.animateElementInBottom"
      when-not-visible="vm.animateElementOut"
      alt="me" class="col-md-6 col-xs-12 me-image img-responsive not-visible">
    <img ng-src="images/-biking.jpg"
      when-visible="vm.animateElementInBottom"
      when-not-visible="vm.animateElementOut"
      alt="biking" class="col-md-6 col-xs-12 img-responsive not-visible">
  </div>

</section>
