<section class="about col-md-12">
  <aside class="col-md-8">
    <p>
      I am really good at estimating how long will a project take (I have no idea how I have that ability).
    </p>
      I suffer from the developer syndrome where I don’t notice the passage of time (“I will be there in 20 min”, but show up after 3 hours).
    <p>
      I dream about code, it started with HTML elements and now it is somewhere in recursive functions.
      My boyfriend calls my computer  “my other boyfriend”, and he might be right.
    </p>
    <p>
      Before I was a developer, I spent 3 years working as a Stage Manager at the Israeli Opera House, where I learned that there is no problem that can not be solved with gaffers-tape.
    </p>
    <p>
    At the age of 28 I made a life changing decision to join a all-women-surf-club in Tel- Aviv. My favorite surf spot is along the Mexican Pacific coast. When I am not near the ocean I trade surfing waves for climbing  hills on my road bike.
    </p>
  </aside>
    <div class="col-md-4 contact">
      <h4>Contact me:</h4>
      <a href="mailto:budaminof@gmail.com" class="social-icons">
        budaminof@gmail.com
      </a>
       <br>
      <a class="phone">347-703-4121</a>
      <br>
      <a href="https://github.com/budaminof" target="_blank"class="social-icons">
        GitHub
      </a>
      <br>
      <a href="https://www.linkedin.com/in/budaminof" target="_blank" class="social-icons">
        LinkedIn
      </a>
      <br>
    </div>

  <div class="images">
    <img src="images/surfing.JPG" alt="surfing" class="col-md-12 col-xs-12 img-responsive" id="crash">
    <img src="images/flute.jpg" alt="me" class="col-md-6 col-xs-12 me-image img-responsive">
    <img src="images/-biking.jpg" alt="biking" class="col-md-6 col-xs-12 img-responsive">
  </div>

</section>
