<section class="on-top">

  <nav ng-click="vm.toggleMenu()" class="btn-nav">
    <div></div>
    <div></div>
    <div></div>
  </nav>

  <aside ng-if="vm.showNav" class="nav-aside" >
    <div ng-click="vm.toggleMenu()" class="nav-close">
      <span>&times;</span>
    </div>
    <h3 ng-click="vm.toggleMenu()"><a ui-sref="portfolio">Projects</a></h3>
    <h3 ng-click="vm.toggleMenu()">
      <a href="https://drive.google.com/file/d/0BzNNOxUrUF-gRl85dUJLOWoxNVk/view?usp=sharing" target="_blank">
        Resume
      </a>
    </h3>
    <a href="mailto:budaminof@gmail.com" ng-click="vm.toggleMenu()" class="social-icons">
      <img src="css/email.png" alt="email">
    </a>

    <a href="https://github.com/budaminof" target="_blank" ng-click="vm.toggleMenu()" class="social-icons">
      <img src="css/github.png" alt="github">
    </a>

    <a href="https://www.linkedin.com/in/budaminof" target="_blank" ng-click="vm.toggleMenu()" class="social-icons">
      <img src="css/linkedin.png" alt="linkedin">
    </a>

    <a href="https://twitter.com/bud_aminof" target="_blank" ng-click="vm.toggleMenu()" class="social-icons">
      <img src="css/twitter.png" alt="twitter">
    </a>
  </aside>

  <div ui-view class="view"></div>

</section>
