<section class="on-top">
  <div class="top-header">
    <a ui-sref="portfolio" class="home-link"><h1>BUD AMINOF
      <span class="header"> <span class="slash-stack">/</span>Full Stack Web Developer
      </span>
    </h1></a>
    <span class="inner-nav">
      <a ui-sref="portfolio" ui-sref-active="active"><p>Projects</p></a>
      <a href="https://drive.google.com/open?id=0BzNNOxUrUF-gYlJxbmM0ZDFLVVE" target="_blank"><p>Resume</p></a>
      <a ui-sref="about" ui-sref-active="active"><p>About</p></a>
    </span>
  </div>

  <nav ng-click="vm.toggleMenu()" class="btn-nav">
    <div></div>
    <div></div>
    <div></div>
  </nav>

  <aside ng-if="vm.showNav" class="nav-aside" >
    <div ng-click="vm.toggleMenu()" class="nav-close">
      <span>&times;</span>
    </div>
    <h3 ng-click="vm.toggleMenu()" class="top-nav-h3" ui-sref-active="active">
      <a ui-sref="portfolio">Projects</a>
    </h3>
    <h3 ng-click="vm.toggleMenu()">
      <a ui-sref="about" ui-sref-active="active">About</a>
    </h3>
    <h3 ng-click="vm.toggleMenu()">
      <a href="https://drive.google.com/open?id=0BzNNOxUrUF-gYlJxbmM0ZDFLVVE" target="_blank">
        Resume
      </a>
    </h3>
    <div class="social">
    <a href="mailto:budaminof@gmail.com" ng-click="vm.toggleMenu()" class="social-icons">
      <img ng-src="images/email.png" alt="email">
    </a>

    <a href="https://github.com/budaminof" target="_blank" ng-click="vm.toggleMenu()" class="social-icons">
      <img ng-src="images/github.png" alt="github">
    </a>

    <a href="https://www.linkedin.com/in/budaminof" target="_blank" ng-click="vm.toggleMenu()" class="social-icons">
      <img ng-src="images/linkedin.png" alt="linkedin">
    </a>

    <a href="https://twitter.com/bud_aminof" target="_blank" ng-click="vm.toggleMenu()" class="social-icons">
      <img ng-src="images/twitter.png" alt="twitter">
    </a>

    </div>
  </aside>

  <div ui-view class="view"></div>

</section>
