<section class="main-portfolio">
  <div class="my-info col-md-6">
    <h3>Bud Aminof</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quis officiis, labore sit aliquid unde, nihil animi dolores tenetur, alias odio ea deserunt itaque at architecto voluptas corporis soluta harum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quis officiis, labore sit aliquid unde, nihil animi dolores tenetur, alias odio ea deserunt itaque at architecto voluptas corporis soluta harum!
    </p>
    <p class="text-right hebrew">
      ואז הלכתי לטייל ולא ידעתי מה אני אמצע באמצע העולם הזה
      אבל לפעמים אתה לא יודע מה תמצא באמצע הדרך.
      ואז אתה מוצא דברים יפים
      כי הכי מדהים- זה כשאת מפתיעה את עצמך
      ואז הלכתי לטייל ולא ידעתי מה אני אמצע באמצע העולם הזה
      אבל לפעמים אתה לא יודע מה תמצא באמצע הדרך.
      ואז אתה מוצא דברים יפים
      כי הכי מדהים- זה כשאת מפתיעה את עצמך

    </p>
  </div>
</section>
