<section class="main-portfolio" >
  <div class="my-info col-md-8">
    <h2>Bud Aminof</h2>
    <h2><small>Full Stack From Scratch</small></h2>
    <p>
      Finaly got released, I was in a classroom with 26 guys and 3 girls, refactoring my brain.
      Yes, I am having nightmares about my code killing my sister in a huge cave that looks like Aladin's cave. And my boyfriend calls my computer - "your other boyfriend".
      <br>
      I am amazing at esstimating how long projects will take (I have no idea how), but I suffer from the developer's syndrom of not being able to tell your loved one when will you be done today ("yes, I will be there in 20 min" / showed up after 3 hours).
      <br>
      My most frequently asked question is "Can't you code or can't you spell?".
    </p>

  </div>

  <div class="row clearing">
    <article class="col-xs-12 col-md-6" ng-repeat="project in vm.projects" >
      <a class="thumbnail" ui-sref="project({name: project.pathState})">
        <img src="{{project.images[0]}}" alt="projectImg">
        <div class="over-img">
          <h3 ng-bind="project.title"></h3>
          <p ng-bind="project.oneSentence"></p>
          <ul>
            <li ng-repeat="tech in project.tech"><span ng-bind="tech"></span></li>
          </ul>
        </div>
      </a>
    </article>
  </div>

</section>
