<section class="main-portfolio" >
  <div class="my-info col-md-8">
    <h2>Bud Aminof</h2>
    <h2><small>Full Stack Web Developer</small></h2>
    <p>
      Born in Israel, learned web development in Boulder, CO, studied Music in New York City, can also be found off the beaches of Mexico.
    </p>
    <p>
      Finished the Full Stack Immersive Program at Galvanize, July 2016.
    </p>
    <p>
      This is a selection of my projects, some personal, some build in a group. I feel as though every time I create a new project I learn something new.
    </p>

  </div>

  <div class="row clearing">
    <article class="col-xs-12 col-md-6" ng-repeat="project in vm.projects" >
      <a class="thumbnail" ui-sref="project({name: project.pathState})">
        <img src="{{project.images[0]}}" alt="projectImg">
        <div class="over-img">
          <h3 ng-bind="project.title"></h3>
          <p ng-bind="project.oneSentence"></p>
          <ul>
            <li ng-repeat="tech in project.tech"><span ng-bind="tech"></span></li>
          </ul>
        </div>
      </a>
    </article>
  </div>

</section>
