<section class="single-project">
  <h2 ng-bind="vm.project.title"></h2>
  <h2>
    <a href="{{vm.project.codeBase}}" target="_blank"><small>Code Base </small></a>
    <small>|</small>
    <a href="{{vm.project.siteUrl}}" target="_blank"><small> Live Site</small></a>
  </h2>
  <div class="row">
    <p ng-bind="vm.project.description" class="col-xs-12 col-md-9"></p>
  </div>
  <div class="row">
    <h4>Notable Tech:</h4>
    <ul>
      <li ng-repeat="tech in vm.project.tech"><span ng-bind="tech"></span></li>
    </ul>
  </div>

    <div ng-repeat="image in vm.project.images">
      <img src="{{image}}" alt="projectImage" class="col-xs-12 col-md-9">
    </div>
    <div ng-if="vm.project.imageMobile">
      <img src="{{vm.project.imageMobile}}" alt="mobileImage" class="col-xs-6 col-md-4 mobile">
    </div>

</section>
