<section class="single-project col-md-12">
  <h3 ng-bind="vm.project.title" class="titles"></h3>
  <h3>
    <a href="{{vm.project.codeBase}}" target="_blank"><small>Code Base </small></a>
    <small ng-show="vm.show">|</small>
    <a href="{{vm.project.siteUrl}}" target="_blank" ng-show="vm.show"><small> Live Site</small></a>
  </h3>

  <div class="row project-description">
    <div class="col-md-8">
      <p ng-bind="vm.project.description" class="col-xs-12 col-md-9"></p>
      <p ng-bind="vm.project.myExperience" class="col-xs-12 col-md-9"></p>
    </div>

    <div class="col-md-4">
      <h4>Notable Tech:</h4>
      <ul>
        <li ng-repeat="tech in vm.project.tech"><span ng-bind="tech"></span></li>
      </ul>
    </div>
  </div>

  <div ng-repeat="image in vm.project.images" ng-if="vm.show">
    <img ng-src="{{image}}" alt="projectImage" class="col-xs-12 col-md-12 img-responsive">
  </div>
  <div ng-if="vm.project.imageMobile" ng-repeat="item in vm.project.imageMobile">
    <img ng-src="{{item}}" alt="mobileImage" class="col-xs-6 col-md-4 mobile img-responsive">
  </div>

</section>
