@import 'components/variables';

.about {
  margin-top: 30px;
  line-height: 25px;

  ul {
    list-style: none;
    padding: 0px;
  }
  p:nth-child(5) {
    margin-top: 50px;
  }

  img {
    margin: 0px;
    padding: 0px;
  }

  .me-image{
    height: 427px;
  }
}

.crash {
  margin-top: 50px;
}

@media(max-width: 500px) {
  .about {
    img {
      margin: 0px;
      padding: 0px;
    }
    .me-image {
      height: auto;
    }
  }

}
