@import 'components/variables';

body {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  color: $black;
  padding-bottom: 40px;
}

a, a:hover, a:active, a:visited, a:focus {
  color: $black;
}

.header {
  font-size: 20px;
}

.top-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .home-link{
    text-decoration: none;
  }

  .inner-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 35px;
    font-weight: bold;

    a:first-child{
      margin-right: 20px;
    }
  }
}

@media (max-width: 1000px) {
  .inner-nav {
    display: none !important;
  }
}
