@import 'components/variables';

body {
  margin-top: 30px;
  font-family:  'Montserrat', 'Open Sans', sans-serif;
  color: $black;
  padding-bottom: 40px;
}

p ul li {
  font-weight: 400;
  color: $grey;
}

.titles {
  font-family: 'Josefin Sans', 'Montserrat', sans-serif;
  font-weight: bold;
}

a, a:hover, a:active, a:visited, a:focus {
  color: $black;
}

a:visited, a:focus {
  text-decoration: none;
}

.header {
  font-size: 20px;
}

.top-header{
  font-family: 'Josefin Sans', 'Montserrat', sans-serif;
  font-stretch: extra-expanded;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .home-link{
    text-decoration: none;
  }

  .inner-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 35px;
    font-weight: bold;
    font-size: 15px;
    margin-right: 40px;
    font-family: 'Josefin Sans', 'Montserrat', sans-serif;
    text-transform: uppercase;
    a{
      margin-right: 20px;
    }
    a:last-child {
      margin-right: 0px;
    }
  }
}

@media (max-width: 1000px) {
  .inner-nav {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .header {
    display: block;
  }
}
