@import 'components/variables';

body {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  color: $black;
  padding-bottom: 40px;
}

a, a:hover, a:active, a:visited, a:focus {
  color: $black;
}
