@import 'components/variables';

.btn-nav {
  width: 60px;
  right: 20px;
  top: 20px;
  position: fixed;
  transition: ease all .7s;
  z-index: 1000;

  div {
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid $black;
    transition: ease all .7s;
  }
}

.btn-nav:hover {
  cursor: pointer;
  width: 80px;
  transition: ease all .7s;

    div {
      border-top: 1px solid $nav;
      transition: ease all .7s;
    }
}

.nav-aside {
  position: fixed;
  padding-left: 30px;
  right: 0px;
  top: 0px;
  width: 480px;
  background-color: $nav;
  height: 100%;
  z-index: 1000;

  .nav-close {
    width: 80px;
    float: right;
    margin-top: 20px;
    margin-right: -20px;
    font-size: 30px;
  }

  .nav-close:hover {
    cursor: pointer;
  }

  h3 {
    margin: 60px 0px;
    font-weight: lighter;
  }

  h4 {
    font-weight: lighter;
  }

}

.nav-aside.ng-leave {
  animation: slideOutRight .7s;
}
.nav-aside.ng-enter {
  animation: slideInRight .7s;
}
