@import 'components/variables';

.clearing {
  clear: both;
  padding-top: 40px;

  article {
    padding: 20px;
  }

  a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover, .thumbnail {
    border-radius: 0px;
  }

  .over-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $nav;
    color: $white;
    margin: 20px 20px 40px 20px;
    padding-top: 20px;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: ease all .5s;

  }

  article:hover .over-img {
    visibility: visible;
    opacity: 1;
    transition: ease all .5s;

  }

  ul {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: inline;
      margin: 10px;
      font-size: 15px;
      font-weight: lighter;
    }
  }

  h3 {
    font-weight: lighter;
  }

  p {
    font-size: 17px;
    font-style: italic;
    font-weight: lighter;
  }
}

h2:nth-child(1) {
  margin-bottom: 0px;
}

h2:nth-child(2) {
  margin-top: 0px;
}
