@import 'components/variables';

.main-images {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 40px;

  article {
    padding: 20px;
  }

  img{
    margin-bottom: 0px;
    border: none;
    height: 300px;
    width: 544px;
  }
  a {
    color: $white;
  }

  .over-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $nav;
    margin: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: $blackHover;

    visibility: hidden;
    opacity: 0;
    transition: ease all .5s;
  }

  article:hover .over-img {
    visibility: visible;
    opacity: 0.9;
    transition: ease all .5s;

  }

  ul {
    margin-top: 40px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;

    li {
      display: inline;
      margin-right: 15px;
      font-size: 15px;
      font-weight: lighter;
    }
  }

  h3 {
    font-weight: lighter;
  }

  p {
    font-size: 17px;
    font-style: italic;
    font-weight: lighter;
  }
}

h2:nth-child(1) {
  margin-bottom: 0px;
}

h2:nth-child(2) {
  margin-top: 0px;
}

@media (max-width: 1000px) {
  .main-images {
    img {
      height: auto;
      width: auto;
    }
  }
}

@media(max-width: 500px) {
  .main-portfolio {
    margin-top: 30px;
  }

.main-images {
    article:hover .over-img, article:active .over-img {
      visibility: hidden;
    }
  }

}
