@import 'components/variables';

.project-images {
  padding: 30px 0px;
}
  img {
    margin-bottom: 60px;
    padding: 0px !important;
  }

.single-project {
  padding-left: 0px;

  .project-description {
    margin-bottom: 20px;
  }
  h4 {
    margin-top: 0px;
    text-indent: 15px;
  }

  ul {
    list-style: none;
    padding-top: 0px !important;
    padding: 17px;
    margin-bottom: 20px;
  }

  p {
    padding-left: 0px;
  }
  .mobile{
    border: 1px solid $img-border;
    padding: 0px;
    margin-left: 15px;
    margin-right: 40px;
  }

}

@media(max-width: 1000px) {
.single-project {
  img {
    margin-bottom: 20px;
  }
    ul {
      padding-left: 0px !important;
    }
    #tech-list {
      margin-top: 20px;
      padding-left: 0px;
    }
  }

}


@media(max-width: 500px) {

  .single-project {
    padding-right: 0px;
    h2:first-child {
      margin-top: 30px;
    }
  }

}
