@import 'components/variables';

.project-images {
  padding: 30px 0px;
}
  img {
    margin-bottom: 30px;
  }

.single-project {
  a, a:hover, a:active, a:visited {
    text-decoration: none;
  }
  h4 {
    text-indent: 15px;
  }

  ul {
    list-style: none;
    margin-bottom: 50px;
  }
  h2 {
    margin-bottom: 30px;
  }

}


@media(max-width: 480px) {

  .single-project {
    h2:first-child {
      margin-top: 50px;
    }
  }

}
