$background: rgb(255, 255, 255);
$blackHover: rgb(50, 50, 50);
$black: rgb(90, 90, 90);
$nav: #f6d667;
$white: rgb(255, 255, 255);
$img-border: rgb(154, 154, 154);
// $nav: #F1C838;
// $nav: #FAA634;
// $nav: #004225;
// $nav: #EB5523;
// $nav: rgb(136, 213, 176);
// $nav: rgb(203, 194, 222);
