$background: rgb(255, 255, 255);
$blackHover: rgb(50, 50, 50);
$black: rgb(90, 90, 90);
$white: rgb(255, 255, 255);
$img-border: rgb(154, 154, 154);
$nav: #F1C838;
// $nav: #FAA634;
$grey: #787878;
// $grey: #A5A188;
